body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f0f0f0;
  box-sizing: border-box;
}

#canva-holder:focus {
  outline: none;
}
#toolBar {
  position: relative;
  padding:10px 15px;
  z-index: 1;
  border-right: 1px solid rgb(100, 100, 100);
}
.active{
  background-color: #ccc;
}
.toolIcon{
  margin: 0;
  padding-block-start: 1em;
  padding-block-end: 1em;
  padding-inline-start: 40px;
  padding-inline-end: 40px;
  cursor: pointer;
}
#mousetracker{
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

#app{
  display: flex;
}

.qck-prop-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  gap: 10px;
}
.qck-prop-item .prop{
  text-transform: capitalize;
  font-weight: bold;
  font-size: 0.8em;
  color: #666;

}
.qck-prop-item .value{
  width: 55px;
  border: #ccc 1px solid;
  border-radius: 5px;
  padding: 5px;
}

.qck-props-card{
  padding: 5px;
  background: greenyellow;
  border: #ccc 1px solid;
  position: absolute;
  top: -45px;
  left: 145px;
  margin-top: 50px;
}