body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f0f0f0;
}
#toolBar {
  padding:10px 25px;
  z-index: 1;
  border-right: 1px solid rgb(100, 100, 100);
}
.active{
  background-color: rgb(172, 172, 172);
}
.toolIcon{
  margin: 0;
  padding-block-start: 1em;
  padding-block-end: 1em;
  padding-inline-start: 40px;
  padding-inline-end: 40px;
  cursor: pointer;
}
#mousetracker{
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

#app{
  display: flex;
}